apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 145023139102.dkr.ecr.ap-south-1.amazonaws.com/my-frontend:latest
        ports:
        - containerPort: 80
        # No need for environment variables since we're using relative paths